* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5em;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: block;
    background-image: url("../agregados/Circulo.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #000000;
}


.main-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* Menu */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
    align-items: end;
}

.logo {
    display: flex;
}

.logo img {
    width: 100%;
}

nav {
    display: block;
}

.menu-bar {
    display: flex;
    padding-right: 0.9em;
}

.menu-bar, .menu-bar li, .menu-bar a {
    color: #ffffff;
}

.menu-bar a {
    display: block;
    padding: 0 0.5em;
    line-height: 3.6em;
    transition: .5s;
}


/* Barra */

hr {
    color: #ffffff;
}


/* Contenido */

.list-box{
    padding-left: 3%;
    padding-right: 10%;
}

.main-cont {
    max-width: 600px;
    color: #ffffff;
    margin-top: 5em;
    float: left;
}

.part-cont {
    position: relative;
}

.anchor {
    position: absolute;
    top: -50px;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    font-size: 2.0em;
    font-weight: bold;
}


/* Imagen superior */

.img-cont {
    display: block;
    background: transparent;
    text-align: center;
    margin-top: -4em;
}

.img {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    margin: auto;
    max-width: 100%;
}

.part-content {
    max-width: 400px;
    color: #ffffff;
}

.part-content2 {
    max-width: 400px;
    margin: 50px auto auto auto;
    color: #ffffff;
}

.part-content3 {
    max-width: 400px;
    margin: 50px auto auto auto;
    color: #ffffff;
}


/* Botón */

.suscribirse {
    border-radius: 45px;
    color: #ffffff;
    padding: 0.5em 1em;
    margin-top: 3em;
    background-color: #000000;
}


/* Footer */

footer{
    height: 25em;
    display: flex;
    align-items: center;
}

.logo-abajo{
    width: 25em;
}

.logo-final{
    width: 100%;
}

/* Estilo form */

#form-3{
    margin-top: 8%;
}

label{
    font-family:'Nunito Sans', sans-serif;
    font-size: 1em;
}

input {
    width: 8.7em;
}

#form-3 .confirmar {
    background-color: #000000;
    border-radius: 40px;
    color: #FFF;
    cursor: pointer;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    height: 2em;
    margin-left: 1%;
    width: 2.5em;
}


/* MEDIA QUERIES */

@media screen and (max-width: 300px) and (min-width: 240px){

    #form-3 {
        margin-top: 8%;
    }

    #form-3 label{
        font-family:'Nunito Sans', sans-serif;
        font-size: 1em;
    }
    
    #form-3 input {
        width: 7em;
    }
    
    #form-3 .confirmar {
        background-color: #000000;
        border-radius: 40px;
        color: #FFF;
        cursor: pointer;
        font-family: Nunito Sans; /* VER FUENTE QUIKSAND */
        font-style: normal;
        font-weight: normal;
        font-size: 0.8em;
        height: 2em;
        margin-left: 1%;
        width: 2.5em;
    }

    /* Menu */

    .background-black {
        width: 100%;
        background-color: #000;
        height: 30%;
    }

    .main-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        background-color: #000;
    }


    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 999;
        align-items: center;
        background-color: #000000;
    }

    .nav-bar {
        margin-left: 5%;
    }

    hr {
        color: #ffffff;
    }

    /* Fin estilo nav */

    .list-box h1{
        /*CONSTRUYENDO EL SOFTWARE DE DISEÑO DEL MAÑANA*/
        text-align: left;
        font-size: 1.6em;
    }
}

@media screen and (max-width: 350px) and (min-width: 300px) {

    /* Estilo form */

    #form-3 {
        margin-top: 10%;
    }

    #form-3 label{
        font-family:'Nunito Sans', sans-serif;
        font-size: 1em;
    }
    
    #form-3 input {
        width: 8em;
    }
    
    #form-3 .confirmar {
        background-color: #000000;
        border-radius: 40px;
        color: #FFF;
        cursor: pointer;
        font-family: Nunito Sans; /* VER FUENTE QUIKSAND */
        font-style: normal;
        font-weight: normal;
        font-size: 0.8em;
        height: 2em;
        margin-left: 1%;
        width: 2.5em;
    }
    /* Fin estilo form */

    /* Menu */

    .background-black {
        width: 100%;
        background-color: #000;
        height: 30%;
    }

    .main-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        background-color: #000;
    }

    header {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 999;
        align-items: center;
        background-color: #000000;
    }

    .nav-bar {
        margin-left: 5%;
    }

    hr {
        color: #ffffff;
    }

    /* Fin estilo nav */

}

@media only screen and (max-width: 855px) {

    body {
        background-image: none;
    }
    
    .main-cont, .part-content {
        padding: 0em 1em 3em;
    }    

    .footer {
        height: 10em;
        padding-top: 2em;
        padding-left: 1em;
    }

    .logo-abajo {
        width: 20em;
    }

}
